{
    "domain": "{{ porkbun_domain }}",
    "certificate_directory": "{{ porkbun_cert_directory }}",
    "api_key": "{{ porkbun_api_key }}",
    "secret_key": "{{ porkbun_secret_key }}",
    "reload_nginx": {{ porkbun_reload_nginx | lower }}
}
